.main-graph-dimensions {
    width: 70em;
    height: 16rem;
  }

  .graph-dimensions {
    width: 70em;
    height: 20rem;
  }

  /* Font Awesome in Reps.Blade file */
  @media (max-width: 768px) {
    .main-graph-dimensions {
        width: 100%;
        height: 16rem;
      }

    .graph-dimensions {
      width: 100%;
      height: 20rem;
    }
    
    .visible {
      display: block;
    }
  }
  
  .invisible {
    position: absolute;
    top: -9999px;
    max-height: 0;
  }

  /* Generate Poll Results Page */
  .results_border {
    border: 5px solid red;
    border-radius: 25px;
    padding: 20px;
  }

  .center_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
  }

  .link_style {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
  }

  .generated_pages_title {
    color: red;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5em;
  }

  /* Font Awesome in Reps.Blade file */
  @media (max-width: 768px) {
    .link_style {
      font-size: 0.4em;
      font-weight: bolder;
      text-align: center;
    }
  }

  /* Comments Table */
  table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 60%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  table.blueTable td, table.blueTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }